<div class="container mt-5">
  <h1 class="form-title">Campus Route Planner</h1>
  <form>



    <div class="form-group">
      <label for="start"><i class="fas fa-map-marker-alt"></i> Start:</label>
      <div class="input-group">
        <p-autoComplete [(ngModel)]="start" [ngModelOptions]="{standalone: true}" [suggestions]="results" (completeMethod)="search($event)" [dropdown]="true"></p-autoComplete>        
      </div>
    </div>

    <div *ngFor="let stop of stops; let i = index">
      <div class="form-group">
        <label for="stop{{i}}"><i class="fas fa-map-marker-alt"></i> Stop #{{i + 1}}:</label>
        <div class="input-group">
          <p-autoComplete [(ngModel)]="stops[i]" [ngModelOptions]="{standalone: true}" [suggestions]="results" (completeMethod)="search($event)" [dropdown]="true"></p-autoComplete>
          <div class="input-group-append">
            <p-button label="Remove" icon="pi pi-minus" iconPos="right" (click)="removeStop(i)"></p-button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="end"><i class="fas fa-map-marker-alt"></i> Destination:</label>
      <div class="input-group">
        <p-autoComplete [(ngModel)]="end" [ngModelOptions]="{standalone: true}" [suggestions]="results" (completeMethod)="search($event)" [dropdown]="true"></p-autoComplete>
      </div>
    </div>

    <div class="form-group">
      <p-button label="Add Stop" icon="pi pi-plus" iconPos="right" (click)="addStop()"></p-button>
    </div>

    <div class="form-group">
      <label for="transportation"><i class="fas fa-walking"></i> Mode of Transportation:</label>
      <select class="form-control" id="transportation">
        <option>Walking</option>
      </select>
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Add Route</button>
    </div>

    <!-- <div class="form-group">
      <label><i class="fas fa-file"></i>Import from file</label>
      <div class="input-group">
        <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
      </div>
    </div> -->
  </form>
</div>
