<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <img src="../assets/logo-light.png" alt="Atilas Atlas logo" width="30" height="30">
      Atilas Atlas
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Plan a route</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/directory">Building directory</a>
        </li>
        <li class="nav-item" *ngIf="auth.user | async as user">
          <a class="nav-link" href="/dashboard">Saved routes</a>
        </li>
        <li class="nav-item">
          <div *ngIf="auth.user | async as user; else showLogin">
            <a class="nav-link" (click)="logout()">Logout</a>
          </div>
          <ng-template #showLogin>
            <a class="nav-link" (click)="login()">Login with Google</a>
          </ng-template>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
