<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo-light.png" alt="Atilas Atlas logo" width="30" height="30">
      Atilas Atlas
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Plan a route</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Building directory</a>
        </li>
        <li class="nav-item" *ngIf="auth.user | async as user">
          <a class="nav-link" href="#" (click)="logout()" *ngIf="user">
            <i class="fab fa-google"></i> Sign out
          </a>
          <a class="nav-link" href="#" (click)="login()" *ngIf="!user">
            <i class="fab fa-google"></i> Login with Google
          </a>
        </li>
        <li class="nav-item" *ngIf="auth.user | async as user">
          <a class="nav-link" href="#">Saved routes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
