<div class="card">
  <h1><a (click)="saveRoute()">Save route</a></h1>
  <p-timeline [value]="stops" align="alternate" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-loc>
          <span class="custom-marker shadow-2" [style.backgroundColor]="loc.color">
              <i [ngClass]="loc.icon"></i>
          </span>
      </ng-template>
      <ng-template pTemplate="content" let-loc>
          <p-card [header]="loc.name" [subheader]="loc.address">
              <img *ngIf="loc.image" [src]="loc.image" [alt]="loc.name" width="200" class="shadow-2" />
              <p>{{loc.name}}</p>
              <button pButton label="Read more" class="p-button-text"></button>
          </p-card>
      </ng-template>
  </p-timeline>
</div>
