<!-- <h1>
  Firebase + Angular Demo
</h1>

<h3>
  Implemented Firebase User auth through Google & Realtime database in Angular project
</h3>

<div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>

<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>

<div>
  <h1>From Firebase Realtime Database:</h1>
</div>

<ul>
  <li *ngFor="let item of items | async">
     {{ item | json }}
  </li>
</ul>

My database items^^ -->

<app-header></app-header>

<router-outlet></router-outlet>