/* You can add global styles to this file, and also import other style files */
div {
  margin-top: .1em;
}

p-button
{
  margin-left: .1em;
}

.homeMap
{
  height: 93vh;
}

.saveRouteMap{
  height: 80vh;
}
